<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Fake News Detector</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
      <script src="https://use.fontawesome.com/1dcd51e910.js"></script>
   </head>
   <body>
    <form action="{{ url_for('predict')}}" method="POST">
  
      <div class="segment">
        <h2>Fake News Detector</h2>
        <p>Fake news, one of the biggest new-age problems has the potential to mould opinions and influence decisions.</p>
        <b>Enter news in the textarea below to check for Fake News!</b>
      </div>
      
      <label>
        
        <textarea id="w3review" name="name" rows="10" cols="200" required="required" placeholder="Enter the news here."></textarea>
      </label>
      
      <button class="red" type="submit" name="action" value="Check"><i class="icon ion-md-lock"></i> Check</button><br>
      <br>

      <!-- {{ prediction }} -->
      {% if prediction == ['fake']%}
        <center><h3><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red"></i>&nbsp;It's probably fake!</h3></center>
      {% elif prediction == ['true']%}
        <center><h3><i class="fa fa-check-circle-o" aria-hidden="true" style="color:green"></i>&nbsp;Seems Real to Me</h3></center>
      {% endif %}
      
      <button class="" type="submit" name="action" value="Fake" style="width: 10px; background: #e4e5e9; color: transparent;  border-color: transparent; cursor: default;"><i class="icon ion-md-lock"></i> Check</button>
      
    </form>

    
   </body>
</html>